beautifulsoup4==4.13.4
blinker==1.9.0
cachelib==0.13.0
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorlog==6.9.0
Flask==3.1.1
Flask-Caching==2.3.1
Flask-Limiter==3.12
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
llama-index-core==0.12.42
llama-index-llms-openai==0.4.6
llama-index-embeddings-openai
llamaapi==0.1.36
tiktoken==0.9.0
lxml==5.4.0
MarkupSafe==3.0.2
nltk
numpy==2.3.0
openai==1.86.0
pillow==11.2.1
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.0
regex==2024.11.6
reportlab==4.4.1
requests==2.32.4
soupsieve==2.7
urllib3==2.4.0
Werkzeug==3.1.3
firecrawl-py==2.8.0
