<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reader{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>"">
    
    <!-- Include CSS files -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" />
    
    <!-- Include JavaScript files -->
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
</head>

<body class="bg-lines">
    <!-- Include the Navbar -->
    {% include 'navbar.html' %}
    
    <div class="container mx-auto" style="max-width: none">
        {% block content %}
        {% endblock %}
    </div>

    <!-- View Article Modal -->
    <dialog id="article_modal" class="modal">
        <div class="modal-box max-w-4xl">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Article Content</h3>
            <div id="modalContent" class="py-4">
                <!-- Content will be dynamically loaded here -->
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>Close</button>
        </form>
    </dialog>

    <!-- Settings Modal -->
    <dialog id="settings_modal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Settings</h3>
            <div class="py-4">

                <!-- OpenAI API Key Input -->
                <label for="apiKeyInput" class="block text-sm font-medium mb-2">OpenAI API Key:</label>
                <div class="flex space-x-2 mb-4">
                    <input type="password" id="apiKeyInput" class="input input-bordered flex-grow" placeholder="Enter OpenAI API Key">
                    <button id="saveApiKeyButton" class="btn">Save</button>
                </div>

                <!-- Model Selection -->
                <label for="modelSelect" class="block text-sm font-medium mb-2">Select Model:</label>
                <select id="modelSelect" class="select select-bordered w-full mb-4">
                    <option value="gpt-4o-mini">GPT-4o Mini</option>
                    <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
                    <option value="gpt-4o">GPT-4o</option>
                </select>

                <!-- Theme Selection -->
                <label for="themeSelect" class="block text-sm font-medium mb-2">Select Theme:</label>
                <select id="themeSelect" class="select select-bordered w-full mb-4">
                    <!-- The options will be generated by JavaScript -->
                </select>

                <!-- Font Selection -->
                <label for="fontSelect" class="block text-sm font-medium mb-2">Select Chat Bubble Font:</label>
                <select id="fontSelect" class="select select-bordered w-full mb-4">
                    <option value="Arial" style="font-family: Arial;" selected="selected">Arial</option>
                    <option value="Georgia" style="font-family: Georgia;">Georgia</option>
                    <option value="Helvetica" style="font-family: Helvetica;">Helvetica</option>
                    <option value="Times New Roman" style="font-family: 'Times New Roman';">Times New Roman</option>
                    <option value="Courier New" style="font-family: 'Courier New';">Courier New</option>
                    <option value="Verdana" style="font-family: Verdana;">Verdana</option>
                    <option value="Trebuchet MS" style="font-family: 'Trebuchet MS';">Trebuchet MS</option>
                    <option value="Palatino" style="font-family: Palatino;">Palatino</option>
                    <option value="Comic Sans MS" style="font-family: 'Comic Sans MS';">Comic Sans MS</option>
                    <option value="Impact" style="font-family: Impact;">Impact</option>
                </select>


            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>Close</button>
        </form>
    </dialog>


    <!-- Include JavaScript files -->
    <script src="/static/utils.js"></script>
    <script src="/static/themes.js"></script>
    <script src="/static/chat.js"></script>
    <script src="/static/news.js"></script>

    <!-- New script files -->
    <script src="/static/news/hackernews.js"></script>
    <script src="/static/news/arxivpapers.js"></script>
    <script src="/static/news/gdelt.js"></script>
    <script src="/static/news/osf.js"></script>

</body>

</html>
