<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>"">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>

    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container mx-auto max-w-4xl px-2 py-4">
        <!-- Header Section -->
        <div class="flex justify-between items-center mb-4">
            <h1 id="reader" class="text-4xl font-bold">📚 Reader</h1>
            <div class="flex items-center space-x-4">
                <a href="https://github.com/francisgreenleaf/Reader" target="_blank" class="text-2xl">
                    <i class="fab fa-github"></i>
                </a>
                <button class="btn btn-secondary" onclick="document.getElementById('settings_modal').showModal()"><i class="fa-solid fa-gear"></i></button>
            </div>
        </div>
        
        <!-- Main Content -->
        <div class="main-content">
            <!-- Load and Save as PDF Section -->
            <div class="load-save-container mb-4">
                <input type="text" id="urlInput" placeholder="Enter URL"
                    class="flex-grow input input-bordered input-secondary w-full" onkeydown="handleKeyDown(event, fetchArticle)">
                <button onclick="fetchArticle()" class="btn btn-secondary">
                    Load <i class="fa-solid fa-download ml-2"></i>
                </button>
                <button onclick="generatePDF()" class="btn btn-secondary">
                    Save as PDF
                </button>
            </div>
            
            <div id="error" class="text-error mb-4"></div>

            <!-- Hidden element to store raw article content -->
            <input type="hidden" id="hiddenContent" value="">

            <!-- Chatbox Section -->
            <div id="queryResult" class="prose rounded-lg bg-base-200 overflow-y-auto h-96 p-2 m-auto !max-w-none">
            </div>

            <!-- Submit Section at the bottom -->
            <div class="submit-section">
                <div class="flex items-center space-x-2">
                    <input type="text" id="queryInput" placeholder="Ask a question!"
                        class="flex-grow input input-bordered input-secondary w-full" onkeydown="handleKeyDown(event, queryArticle)">
                    <button onclick="queryArticle()" class="btn btn-secondary">
                        Submit <i class="fa-solid fa-paper-plane ml-2"></i>
                    </button>
                </div>
            </div>
            
        </div>

        <div id="queryLoading" class="hidden flex justify-center items-center mt-4">
            <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
            </svg>
            Processing...
        </div>
    </div>

    <!-- Settings Modal -->
    <dialog id="settings_modal" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Settings</h3>
            <div class="py-4">
                <!-- Model Selection -->
                <label for="modelSelect" class="block text-sm font-medium mb-2">Select Model:</label>
                <select id="modelSelect" class="select select-bordered w-full mb-4">
                    <option value="gpt-4o-mini">GPT-4o Mini</option>
                    <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
                    <option value="gpt-4o">GPT-4o</option>
                </select>

                <!-- Theme Selection -->
                <label for="themeSelect" class="block text-sm font-medium mb-2">Select Theme:</label>
                <select id="themeSelect" class="select select-bordered w-full mb-4">
                    <!-- The options will be generated by JavaScript -->
                </select>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>Close</button>
        </form>
    </dialog>
</body>

<script src="/static/utils.js"></script>
<script src="/static/themes.js"></script>
<script src="/static/chat.js"></script>
<script src="/static/news.js"></script>
</html>
