<div class="navbar bg-base-100 mb-4 shadow-lg fixed top-0 left-0 right-0 z-50">
    <!-- Branding Section (Left) -->
    <div class="flex-1">
        <a class="text-4xl font-bold" href="#">📚 Reader</a>
    </div>

    <!-- Load and Save as PDF Section (Center) -->
    <div class="flex-none">
        <div class="flex items-center space-x-4">
            <input type="text" id="urlInput" placeholder="Enter URL"
                class="input input-bordered input-secondary" style="width:500px" onkeydown="handleKeyDown(event, fetchArticle)">
            <button onclick="fetchArticle()" class="btn">
                Load <i class="fa-solid fa-download ml-2"></i>
            </button>
            <button onclick="openArticleModal()" class="btn">
                View Article <i class="fa-solid fa-eye ml-2"></i>
            </button>
            <button onclick="generatePDF()" class="btn">
                Save as PDF
            </button>
        </div>
    </div>

    <!-- Icons Section (Right) -->
    <div class="flex-1 justify-end flex space-x-4">
        <a href="https://github.com/francisgreenleaf/Reader" target="_blank" class="text-2xl">
            <i class="fab fa-github"></i>
        </a>
        <button id="themeToggleBtn" class="btn" onclick="toggleTheme()">
            <i id="themeIcon" class="fa-solid fa-moon"></i>
        </button>
        <button class="btn" onclick="document.getElementById('settings_modal').showModal()">
            <i class="fa-solid fa-gear"></i>
        </button>
    </div>
</div>
